<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<div th:fragment="banner" class="well">
		<th:block th:if="${serverId} != 'home'">
			<p>
				You are accessing the public FHIR server
				<b th:text="${baseName}"/>. This server is hosted elsewhere on the internet
				but is being accessed using the HAPI client implementation.
			</p>
		</th:block>
		<p>
			<b style="color: red;">
				<span class="glyphicon glyphicon-warning-sign"/> 
				This is not a production server!
			</b> 
			Do not store any information here that contains personal health information
			or any other confidential information. This server will be regularly purged 
			and reloaded with fixed test data. 
		</p>
	</div>
</html>
